#Ignore all .tar and .tar.gz archives
*.tar
*.tar.gz

#Ignore everything in data and archived
data/
archived/

#Ignore pytorch cache and executables
GazeCapture/pytorch/__pycache__/*.pyc
GazeCapture/pytorch/__pycache__
