#Ignore all .tar and .tar.gz archives
*.tar
*.tar.gz
*.npy

#Ignore everything in data and archived
data/
archived/
processed/
tb_logs/
src/runs/

#Ignore pytorch cache and executables

GazeCapture/pytorch/__pycache__/*.pyc
GazeCapture/pytorch/__pycache__

#Exceptions
!data/extract.sh
